.login-margin div {
    margin: 1em;
}

.text-color-red {
    color: red;
}

.new-object-table .field-name {
    width: 8em;
}

.new-object-table .field-value {
    width: 15em;
    padding: 0.3em;
}

.new-object-table .field-validation-error {
    padding: 0 1em;
}

.new-object-table tr {
    margin-top: 0.5em;
}

.margin-top {
    margin-top: 1em;
}

.margin-bottom {
    margin-bottom: 1em;
}

.div-padding div {
    padding: 0 0.3em;
}

.table-group-width {
    width: 6em;
}

.table-time-width {
    width: 8em;
}

.table-teacher-width {
    width: 12em;
}

.table-cabinet-width {
    width: 6em;
}

.table-discipline-width {
    width: 17em;
}

.table-hours-width {
    width: 3em;
}

.table-sign-width {
}

.table-margin-left {
    margin-left: 0.3em;
}

.general-table-row-data > td {
    text-align: center;
    vertical-align: middle !important;
}

.new-object-table .field-hours {
    width: 4.3em;
    padding: 0.3em;

}

.new-object-table .field-lesson-type {
    width: 15.5em;
    padding: 0.3em;
}

.typeahed-teacher-id {
    
}

.padding-top-bottom {
	padding: 0.5em 0;
}

.vertical-middle {
	vertical-align: middle !important;
}
