.login-margin div {
    margin: 1em;
}

.text-color-red {
    color: red;
}

.new-discipline-table .field-name {
    width: 8em;
}

.new-discipline-table .field-value {
    width: 15em;
    padding: 0.3em;
}

.new-discipline-table .field-validation-error {
    padding: 0 1em;
}

.new-discipline-table tr {
    margin-top: 0.5em;
}

.margin-top {
    margin-top: 1em;
}

.margin-bottom {
    margin-bottom: 1em;
}

.div-padding div {
    padding: 0 0.3em;
}

.table-group-width {
    width: 6em;
}

.table-time-width {
    width: 8em;
}

.table-teacher-width {
    width: 12em;
}

.table-cabinet-width {
    width: 6em;
}

.table-discipline-width {
    width: 17em;
}

.table-hours-width {
    width: 3em;
}

.table-sign-width {
}

.table-maegin-left {
    margin-left: 0.3em;
}

.general-table-row-data > td{
    text-align: center;
    vertical-align: middle !important;
}