@model MSHRCS.Presentation.Models.GroupDisciplineViewModel
@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
	<legend>GroupDiscipline</legend>

	<div class="display-label">Group</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Group)
	</div>

	<div class="display-label">AcademicDiscipline</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.AcademicDiscipline)
	</div>
</fieldset>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
